{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create an account" %}{% endblock %}

{% block content %}
<div class="row my-4">
  <div class="col-2"></div>
  <div class="col-8">
    <h3>{% trans "Create an account" %}</h3>
    <p>{% trans "Please, sign up using the following form:" %}</p>
    <form method="post">
      {% crispy user_form %}
      <input type="submit" value="{% trans "Create my account" %}" class="btn btn-primary px-5 mt-2">
    </form>
  </div>
</div>
{% endblock %}
