{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Add security" %}{% endblock %}

{% block content %}
<div class="row my-4">
  <div class="col-2"></div>
  <div class="col-8">
    <h3>{% trans "Add tracking of security" %}</h3>
    <form method="post" enctype="multipart/form-data">
      {% crispy security_form %}
      {% crispy fetchSetting_form %}
      {% crispy userSecuritySettings_form %}
      <button type="submit" class="btn btn-primary px-5 mt-2">{% trans "Add security tracking" %}</button>
    </form>
  </div>
</div>
{% endblock %}
