{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change my password" %}{% endblock %}

{% block content %}
<div class="row my-4">
  <div class="col-2"></div>
  <div class="col-8">
    <h3>{% trans "Change my password" %}</h3>
    <p>{% trans "Use the form below to change your password." %}</p>
    <form method="post">
      {% crispy form %}
      <input type="submit" value="{% trans "Change" %}" class="btn btn-primary px-5 mt-2">
    </form>
  </div>
</div>
{% endblock %}
