{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset your password" %}{% endblock %}

{% block content %}
<div class="row my-4">
  <div class="col-2"></div>
  <div class="col-8">
    <h3>{% trans "Reset your password" %}</h3>
    {% if validlink %}
      <p>{% trans "Please enter your new password twice:" %}</p>
      <form method="post">
        {% crispy form %}
        <input type="submit" value="{% trans "Change my password" %}" class="btn btn-primary px-5 mt-2" />
      </form>
    {% else %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. 
        Please request a new password reset.{% endblocktrans %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
